<!-- Bootstrap 5 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!-- Bootstrap 5 JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!--Inicio de carrousel--><section id="carousel">
  <div class="carousel">
    <div class="gallery">
      <div class="item item-1"></div>
      <div class="item item-2"></div>
      <div class="item item-3"></div>
      <div class="item item-4"></div>
      <div class="item item-5"></div>
      <div class="item item-6"></div>
      <div class="item item-7"></div>
      <div class="item item-8"></div>
      <div class="item item-9"></div>
      <div class="item item-10"></div>
      <div class="item item-11"></div>
      <div class="item item-12"></div>

    </div>

  </div>
  

</section>
<!-- final de carrousel -->

  <body>

<!--Inicio de imagenes-->
<div class="cards">

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://i.pinimg.com/550x/fd/63/c9/fd63c9769c2bc43ec3ec5313423bb65a.jpg" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Nike
        <small>Tenis Nike</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        1 Color <br>L.1,500.00 <br>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/312105-1000-1000/DJ4312_074_A_PREM.jpg?v=637805499479330000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calsado de Mujer
        <small>W NIKE METCON 7</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L.1,500.00 <br>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://www.sincable.mx/wp-content/uploads/2021/10/v1d-l4D-stephan-schmid-KiHprGq89lE-unsplash-scaled.jpg" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calcetines Unisex
        <small>U J Everyday Max Ankl 3Pr</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
      L.150.00 <br>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/281930-1000-1000/DC7485_010_A_PREM.jpg?v=637780311665400000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Polera para Hombre
        <small>M J Jumpman Emb Ss Crew</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.1200 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>


    <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/382590-1000-1000/DC0496_700_A_PREM.jpg?v=637813948744330000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Sandalia para Hombre
        <small>WMNS NIKE OFFCOURT DUO SLIDE</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.1700.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>




  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/72eac1b9-5cad-4d98-86aa-45fc9c8405ea/jordan-23-engineered-tracksuit-jacket-dC1sZ3.png" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Chamarra para Hombre
        <small>Jordan 23 Engineered</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.800.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>


  
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://sportlandamerican.com/45862-home_large/pantalones-jordan-sport-dna-gris-para-hombre.jpg" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Pantalón para Hombre
        <small>Jordan Sport DNA</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L.500.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/328746-1000-1000/DM8171_001_D_PREM.jpg?v=637806943449470000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Hombre
        <small>Air Max 90 Se</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
      L.1600.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/210426-1000-1000/DC9388_002_A_PREM.jpg?v=637692093850000000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Hombre
        <small>Air Max 90</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.1500.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/246864-1000-1000/DC8891_001_A_PREM.jpg?v=637705068879970000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Hombre
        <small>Air Force 1</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L..2,000.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/303671-1000-1000/DC3986_300_A_PREM.jpg?v=637800374939500000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Hombre
        <small>Nike Air Max 97 Se</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L.1,600.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

 <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/346149-1000-1000/DH0531_002_A_PREM.jpg?v=637812155121270000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Mujer
        <small>W Air Max Furyosa</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.1,500.00 <br>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

</div>
 <!--Final  de imagenes-->    
       
  </body>



 <style>

   @font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
body {
  background: #dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}
a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}
div.card img {
  max-width: 300px;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

/*Inicia cambio de estilo de scroll bar*/
::-webkit-scrollbar {
  background: #d4d4d4;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
/*Finaliza cambio de estilo scroll bar*/
/*CAROUSEL al contenedor padre se le deja el tamaño del 100%*/
#carousel {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  margin-bottom: -10%;
}
/*en la clase del carousel se realiza independiente para que ahi pueda agregar el escroll X*/
.carousel {
  overflow-x: scroll;
}
/*el texto ya esta centrado ya que se le dio el ancho del 100% al contenedor padre*/
#carousel p {
  color: #134a73;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 40px;
}
/* se le da el tamaño que se desea para la visulizacion de las imagenes ya que en el contenedor de la clase de carousel es donde estara creado el scroll*/
#carousel .gallery {
  display: flex;
  flex-direction: row;
  width: 2500px;
  height: 70vh;
}

#carousel .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

#carousel .item:hover {
  flex: 30%;
}

/*fotos*/

#carousel .item-1 {
  background-image: url("https://media.gq.com/photos/59c03b8558c90f2265465ce1/16:9/w_2560%2Cc_limit/jumpman1.gif");
}
#carousel .item-2 {
  background-image: url("https://jdsports-client-resources.co.uk/jdsports-client-resources/img/2019/0911/email/nike-joyride-animation-timeline.gif");
}
#carousel .item-3 {
  background-image: url("https://videos.cults3d.com/_YGJ2i0z57bDhr448ktEDwbcSnE=/516x516/https://files.cults3d.com/uploaders/13573075/illustration-file/aa2d521d-0574-4de8-92cb-ed3bdde9b178/Nike.gif");
}
#carousel .item-4 {
  background-image: url("https://c.tenor.com/W9fTN3eQkbMAAAAC/snkrs-nike.gif");
}
#carousel .item-5 {
  background-image: url("https://www.prospecta.mx/stories/1093.jpg");
}
#carousel .item-6 {
  background-image: url("https://thumbs.gfycat.com/ZestyExemplaryAstarte-size_restricted.gif");
}
#carousel .item-7 {
  background-image: url("https://preview.thenewsmarket.com/Previews/ADID/StillAssets/640x480/567466.gif");
}
#carousel .item-8 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/57/Under_Armour_2016.gif");
}

#carousel .item-9 {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5e6fe77a4470f26e89f08ac5/1588001884311-LRSR2DW1FGYV16ALG4B9/UA17_317_Recovery_2018_MadeBetter_Iredecent_logo_1920x1080.gif?format=2500w");
}
#carousel .item-10 {
  background-image: url("https://c.tenor.com/_1Q1UOlJ3_QAAAAd/adidas-shoe.gif");
}

/*se agrego el cursos para que sepa que esta en cada imagen*/
.gallery .item:hover {
  cursor: pointer;
}

 </style>

 <script>
    $(document).ready(function () {
  var zindex = 10;

  $("div.card").click(function (e) {
    e.preventDefault();

    var isShowing = false;

    if ($(this).hasClass("show")) {
      isShowing = true;
    }

    if ($("div.cards").hasClass("showing")) {
      // a card is already in view
      $("div.card.show").removeClass("show");

      if (isShowing) {
        // this card was showing - reset the grid
        $("div.cards").removeClass("showing");
      } else {
        // this card isn't showing - get in with it
        $(this).css({ zIndex: zindex }).addClass("show");
      }

      zindex++;
    } else {
      // no cards in view
      $("div.cards").addClass("showing");
      $(this).css({ zIndex: zindex }).addClass("show");

      zindex++;
    }
  });
});

 </script>