<!-- Bootstrap 5 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!-- Bootstrap 5 JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<br>

 <center>    
      <center>
      <h1>
        <SMAll> <b>Mujer</b> </SMAll>
      </h1>
      </center>  
</center>


  <body>

<!--Inicio de imagenes-->
<div class="cards">

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/315328-1000-1000/DH4408_100_A_PREM.jpg?v=637806165825930000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado de Mujer
        <small>Tenis Nike</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        1 Color <br>L.1,600.00 <br>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/346551-1000-1000/DH5072_001_A_PREM.jpg?v=637812162006530000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calsado de Mujer
        <small>W NIKE METCON 7</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L.1,500.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/312123-1000-1000/DM0839_600_A_PREM.jpg?v=637805499719370000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado de Mujer
        <small>WMNS NIKE COURT LEGACY IMP</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
      L.1,500.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/312088-1000-1000/DC7232_100_A_PREM.jpg?v=637805499257170000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado de mujer
        <small>NIKE SB ISHOD</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.2,000.00 <br>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>


    <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/348372-1000-1000/DN5858_507_A.jpg?v=637812195124330000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Polera para Mujer
        <small>W Nsw Tee Ss Sport Daisy</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.700.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>




  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/155771-1000-1000/DD5669_010_A.jpg?v=637654327088930000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Polera para Mujer
        <small>Nike Sportswear Heritage</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.600.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>


  
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/155635-1000-1000/DD5029_010_A_PREM.jpg?v=637654324785970000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Pantalón para Mujer
        <small>Nike Sportswear Icon Clash</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L.500.00<br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/348214-1000-1000/DN3866_100_A_PREM.jpg?v=637812192143600000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Mujer
        <small>W Nike Dunk Low Se</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
      L.2,500.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/246417-1000-1000/CD4363_005_A_PREM.jpg?v=637705061922730000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Mujer
        <small>Nike Joyride Dual Run</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.1,700.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/303548-1000-1000/CW3409_100_A_PREM.jpg?v=637800373309670000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Mujer
        <small>Wmns Nike Flex 2021 Rn</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L.1,300.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

  
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/303671-1000-1000/DC3986_300_A_PREM.jpg?v=637800374939500000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Mujer
        <small>Nike Air Max 97 Se</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        L.1,400.00 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

 <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://nikeclprod.vteximg.com.br/arquivos/ids/346149-1000-1000/DH0531_002_A_PREM.jpg?v=637812155121270000" width="298px" height="280px" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        Calzado para Mujer
        <small>W Air Max Furyosa</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       L.1,200 <br> 
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
         
        </div>
      </div>
    </div>
  </div>

</div>
 <!--Final  de imagenes-->    
       
  </body>



 <style>


   @font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v19/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
body {
  background: #dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}
a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}
div.card img {
  max-width: 300px;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

/*Inicia cambio de estilo de scroll bar*/
::-webkit-scrollbar {
  background: #d4d4d4;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

 </style>

 <script>
    $(document).ready(function () {
  var zindex = 10;

  $("div.card").click(function (e) {
    e.preventDefault();

    var isShowing = false;

    if ($(this).hasClass("show")) {
      isShowing = true;
    }

    if ($("div.cards").hasClass("showing")) {
      // a card is already in view
      $("div.card.show").removeClass("show");

      if (isShowing) {
        // this card was showing - reset the grid
        $("div.cards").removeClass("showing");
      } else {
        // this card isn't showing - get in with it
        $(this).css({ zIndex: zindex }).addClass("show");
      }

      zindex++;
    } else {
      // no cards in view
      $("div.cards").addClass("showing");
      $(this).css({ zIndex: zindex }).addClass("show");

      zindex++;
    }
  });
});

 </script>