<div class="container" ng-app="formvalid">
  <div class="panel" data-ng-controller="validationCtrl">
    <div class="panel-heading border">
      <h2>Usuarios Registrados
      </h2>
    </div>
    <div class="panel-body">
      <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            
          </tr>
        </thead>
          {{#each users as |user| }} 
        <tbody>
            
          <tr ng-repeat="n in data">
            <td>{{name}}</td>
            <td>{{email}}</td>
            {{!-- <td>
               <a href="/actualizarUsuario/{{_id}}"> <button class="button" style="background-color: #ffa42c"><img src="../uploads/img/pencil.png" alt=""></button></a>
               <a href="/users/delete/{{_id}}"> <button class="button" style="background-color: #bb2f2f" > <img src="../uploads/img/delete.png" alt=""> </button></a>
                <button class="button" style="background-color: #28a733"><img src="../uploads/img/password.png" alt=""></button>
            </td> --}}
          </tr>
           
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>
</div>

<style>

.button {
  display: inline-block;
  padding: 2% 2%;
  font-size: 60%;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;

  border: none;
  border-radius: 7px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover {
    background-color: #afc0f8; /* Green */
    color: white;
}
    table tr th {
  background: #4d59ffb0;
  color: rgb(0, 0, 0);
  text-align: left;
  vertical-align: center;
}

</style>

<script>
    //Angularjs and jquery.datatable with ui.bootstrap and ui.utils

var app = angular.module("formvalid", ["ui.bootstrap", "ui.utils"]);
app.controller("validationCtrl", function ($scope) {
  $scope.data = [
   

  $scope.dataTableOpt = {
    //custom datatable options
    // or load data through ajax call also
    aLengthMenu: [
      [10, 50, 100, -1],
      [10, 50, 100, "All"]
    ]
  };
});

</script>