<br>
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Sugerencia Nueva</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST" >
        
              
                {{!--Inicio Subir Archivo--}}
                    {{!-- <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' name="imagen" onchange="readURL(this);" accept="imagen/*" required />
                        <div class="drag-text">
                        <h3>Subir Imagen</h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="#" alt="your image" />
                        <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-imagen">Remove <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div> --}}
                {{!--Fin Subir Archivo--}}
                

            <div class="form.group">
                <input type="text" name="title" class="form-control" placeholder="Sugerencia"
                autofocus>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control"
                placeholder="Descripcion"></textarea>
            <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
                Save
            </button>
            </form>
              </div>
        </div>
    </div>


{{!-- <script>
    function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $(".image-upload-wrap").hide();

      $(".file-upload-image").attr("src", e.target.result);
      $(".file-upload-content").show();

      $(".image-title").html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);
  } else {
    removeUpload();
  }
}

function removeUpload() {
  $(".file-upload-input").replaceWith($(".file-upload-input").clone());
  $(".file-upload-content").hide();
  $(".image-upload-wrap").show();
}
$(".image-upload-wrap").bind("dragover", function () {
  $(".image-upload-wrap").addClass("image-dropping");
});
$(".image-upload-wrap").bind("dragleave", function () {
  $(".image-upload-wrap").removeClass("image-dropping");
});

</script> --}}